<header>
    <h1>{{title}}</h1>
    <!-- will only show when route is / -->
    <app-buttons *ngIf="hasRoute('/')"
    color="{{showAddTask ? 'red' : 'green'}}" 
    text="{{showAddTask ? 'Close' : 'Add'}}"
    (btnClick)="toggleAddTask()"
    
    ></app-buttons>
</header>
<!-- what we are emiting from the emity functin we will add in paramthesis -->
<!-- btn click cunstom event6 
observation 
the component is created else where called here and the function we wnat to need to be handled here 

-->
